# contains files to ignore for this directory and all subdirectories
*.pyc
*.obj
*.suo
*.ncb
*.vcproj.*.user
*.opensdf
*.vcxproj.user
*.sdf
xcuserdata
.DS_Store
*.cache
*~
BuildLog.htm
*.idb
*.res
*.exe
*.manifest
*.pch
*.ipch
*.lib
*.pdb
*.dep
*.exp
*.dll
*.aps
*.o
*.pbxbtree
*.pbxuser
*.a
*.mode1v3
*.tlog
*.log
*.lastbuildstate
pbxindex.header
*.pbxsymbols
*.hmap
*.xcent
*.mobileprovision
build-state.dat
build-state~.dat
*.LinkFileList
log.txt
LogFile.Txt
plugins.ini
moc_*.cc
ui_*.h
.sconsign.dblite
Bin/*
Base/*
Temp/*
Cooked/*
globals.data
*.sav
*.deuser
Extern/*
TODO.txt
autoexec.txt
editor.user.ini
Source/Scripts/CompiledScripts.cpp
Source/XCode/build/*
Source/XCode/Abducted.xcworkspace/xcshareddata
AbductedDeveloper.app/*
*.glsl
.metadata/*